<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
    <title>FlaskApp</title>
</head>
<body>
    <h1>Analyze the Schedule</h1>
    <br>

    <form action="/" method="POST"></form>
        <div class="container">
            <h3>Airbus A321NEO</h3>
            <table id="A321NEO" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Airport Name</th>
                        <th>Flight Name</th>
                        <th>Seats Available</th>
                        <th>Economy Seats (Max 128)</th>
                        <th>Extra Comfort Seats (Max 44)</th>
                        <th>First Class Seats (Max 16)</th>
                        <th>Operating Cost</th>
                        <th>Charge to Break Even</th>
                        <th>Actual Charge</th>
                        <th>Total Profit</th>
                        <th>Net Revenue</th>
                    </tr>
                </thead>
                <tbody>
                    {% for airport, col in A321NEOdf.iterrows() %}
                        <tr>
                            <td>{{ col['Airport Name'] }}</td>
                            <td>{{ col['Flight Name'] }}</td>
                            <td>{{ col['Seats Available'] }}</td>
                            <td id="A321Econ"><input type="number" class="economy-row seats-input" value="{{ col['Economy Seats'] }}" onchange="callFunctions(this, 'econ', 'A321')"min="0" max="128"></td>
                            <td id="A321Extra"><input type="number" class="extraComfort-row seats-input" value="{{ col['Extra Comfort Seats'] }}" onchange="callFunctions(this, 'extraComfort', 'A321')"min="0" max="44"></td>
                            <td id="A321First"><input type="number" class="firstClass-row seats-input" value="{{ col['First Class Seats'] }}" onchange="callFunctions(this, 'firstClass', 'A321')" min="0" max="16"></td>
                            <td id="A321Total">{{ col['Operating Cost'] }}</td>
                            <td id="A321Charge">{{ col['Charge to Break Even'] }}</td>
                            <td id="A321Actual"><input type="number" class="seats-input" value="{{ col['Actual Charge'] }}" onchange="changePrice(this, 'A321')" min="0"></td>
                            <td id="A321TotalProfit">{{ col['Total Profit'] }}</td>
                            <td id="A321Revenue">{{ col['Net Revenue'] }} </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="container">
            <h3>Airbus A330</h3>
            <table id="A330" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Airport Name</th>
                        <th>Flight Name</th>
                        <th>Seats Available</th>
                        <th>Economy Seats (Max 200)</th>
                        <th>Extra Comfort Seats (Max 60)</th>
                        <th>First Class Seats (Max 18)</th>
                        <th>Operating Cost</th>
                        <th>Charge to Break Even</th>
                        <th>Actual Charge</th>
                        <th>Total Profit</th>
                        <th>Net Revenue</th>
                    </tr>
                </thead>
                <tbody>
                    {% for airport, col in A330df.iterrows() %}
                    <tr>
                        <td>{{ col['Airport Name'] }}</td>
                        <td>{{ col['Flight Name'] }}</td>
                        <td>{{ col['Seats Available'] }}</td>
                        <td id="A330Econ"><input type="number" class="economy-row seats-input" value="{{ col['Economy Seats'] }}" onchange="callFunctions(this, 'econ', 'A330')" min="0" max="200"></td>
                        <td id="A330Extra"><input type="number" class="extraComfort-row seats-input" value="{{ col['Extra Comfort Seats'] }}" onchange="callFunctions(this, 'extraComfort', 'A330')" min="0" max="60"></td>
                        <td id="A330First"><input type="number" class="firstClass-row seats-input" value="{{ col['First Class Seats'] }}" onchange="callFunctions(this, 'firstClass', 'A330')" min="0" max="18"></td>
                        <td id="A330Total">{{ col['Operating Cost'] }}</td>
                        <td id="A330Charge">{{ col['Charge to Break Even'] }}</td>
                        <td id="A330Actual"><input type="number" class="seats-input" value="{{ col['Actual Charge'] }}" onchange="changePrice(this, 'A330')" min="0"></td>
                        <td id="A330TotalProfit">{{ col['Total Profit'] }}</td>
                        <td id="A330Revenue">{{ col['Net Revenue'] }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="container">
            <h3>Boeing 787</h3>
            <table id="Boeing 787" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Airport Name</th>
                        <th>Flight Name</th>
                        <th>Seats Available</th>
                        <th>Economy Seats (Max 187)</th>
                        <th>Extra Comfort Seats (Max 79)</th>
                        <th>First Class Seats (Max 34)</th>
                        <th>Operating Cost</th>
                        <th>Charge to Break Even</th>
                        <th>Actual Charge</th>
                        <th>Total Profit</th>
                        <th>Net Revenue</th>
                    </tr>
                </thead>
                <tbody>
                    {% for airport, col in B787df.iterrows() %}
                    <tr>
                        <td>{{ col['Airport Name'] }}</td>
                        <td>{{ col['Flight Name'] }}</td>
                        <td>{{ col['Seats Available'] }}</td>
                        <td id="B787Econ"><input type="number" class="economy-row seats-input" value="{{ col['Economy Seats'] }}" onchange="callFunctions(this, 'econ',  'B787')" min="0" max="187"></td>
                        <td id="B787Extra"><input type="number" class="extraComfort-row seats-input" value="{{ col['Extra Comfort Seats'] }}" onchange="callFunctions(this, 'extraComfort', 'B787')" min="0" max="79"></td>
                        <td id="B787First"><input type="number" class="firstClass-row seats-input" value="{{ col['First Class Seats'] }}" onchange="callFunctions(this, 'firstClass',  'B787')" min="0" max="34"></td>
                        <td id="B787Total">{{ col['Operating Cost'] }}</td>
                        <td id="B787Charge">{{ col['Charge to Break Even'] }}</td>
                        <td id="B787Actual"><input type="number" class="seats-input" value="{{ col['Actual Charge'] }}" onchange="changePrice(this, 'B787')" min="0"></td>
                        <td id="B787TotalProfit">{{ col['Total Profit'] }}</td>
                        <td id="B787Revenue">{{ col['Net Revenue'] }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="container">
            <h3>Total</h3>
            <table id="Total" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Total Flights</th>
                        <th>All Seats Filled</th>
                        <th>Economy Seats Filled</th>
                        <th>Extra Comfort Seats Filled</th>
                        <th>First Class Seats Filled</th>
                        <th>Total Operation Cost</th>
                        <th>Total Profit</th>
                        <th>Total Net Revenue</th>
                    </tr>
                </thead>
                <tbody>
                    {% for airport, col in totalDf.iterrows() %}
                    <tr>
                        <td>{{ col['TotalFlights'] }}</td>
                        <td id="AllSeatsPercentage">{{ "{:.2f}%".format((col['OccupiedSeats'] / col['TotalSeats']) * 100) }}</td>
                        <td id="EconPercentage">{{ "{:.2f}%".format((col['OccupiedSeatsEcon'] / col['TotalSeatsEcon']) * 100) }}</td>
                        <td id="ExtraComfortPercentage">{{ "{:.2f}%".format((col['OccupiedSeatsExtraComfort'] / col['TotalSeatsExtraComfort']) * 100) }}</td>
                        <td id="FirstClassPercentage">{{ "{:.2f}%".format((col['OccupiedSeatsFirstClass'] / col['TotalSeatsFirstClass']) * 100) }}</td>
                        <td id="TotalCost">{{ col['TotalCost'] }}</td>
                        <td id="TotalProfit">{{ col['TotalProfit'] }}</td>
                        <td id="TotalNetRevenue">{{ col['NetRevenue'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <br>

        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-lg-3">
                    <a href="/" class="btn btn-info btn-lg" role="button">Back to Home</a>
                </div>
            </div>
        </div>
    </form>

    <input type="hidden" id="extraComfortMult" value="{{ extraComfortMult }}">
    <input type="hidden" id="firstClassMult" value="{{ firstClassMult }}">

    <input type="hidden" id="OccupiedSeats" value="{{ totalDf['OccupiedSeats'].iloc[0] }}">
    <input type="hidden" id="TotalSeats" value="{{ totalDf['TotalSeats'].iloc[0] }}">
    <input type="hidden" id="OccupiedSeatsEcon" value="{{ totalDf['OccupiedSeatsEcon'].iloc[0] }}">
    <input type="hidden" id="TotalSeatsEcon" value="{{ totalDf['TotalSeatsEcon'].iloc[0] }}">
    <input type="hidden" id="OccupiedSeatsExtraComfort" value="{{ totalDf['OccupiedSeatsExtraComfort'].iloc[0] }}">
    <input type="hidden" id="TotalSeatsExtraComfort" value="{{ totalDf['TotalSeatsExtraComfort'].iloc[0] }}">
    <input type="hidden" id="OccupiedSeatsFirstClass" value="{{ totalDf['OccupiedSeatsFirstClass'].iloc[0] }}">
    <input type="hidden" id="TotalSeatsFirstClass" value="{{ totalDf['TotalSeatsFirstClass'].iloc[0] }}">


    <script>
        {{ script|safe }}
        src="https://code.jquery.com/jquery-3.7.0.js";
        src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js";

        $('#example').DataTable();

        function callFunctions(input, seatType, aircraftType) {
            /*
            Purpose:
            This function calls the updateSeats and handleInputChange functions.

            ARGS:
            input: The input element that the user changed
            seatType: The type of class that the user is changing the input for
            aircraftType: The type of aircraft that the user is changing the input for
            */

            // Call the updateSeats function
            updateSeats(input, seatType);

            // Call the handleInputChange function
            handleInputChange(input, aircraftType);
        }

        function updateTotalValueTable(oldProfit, newProfit) {
            /*
            Purpose:
            This function updates the percentages of seats filled in the total table.
            It also increases the total operation cost, and profit. Then net revenue updates based on that

            ARGS:
            oldProfit: The old profit value
            newProfit: The new profit value
            */

            // Update the total profit and net revenue
            var totalProfit = parseFloat(document.getElementById('TotalProfit').textContent.replace(/,/g, ''));
            var newTotalProfit = totalProfit + newProfit - oldProfit;

            var totalCost = parseFloat(document.getElementById('TotalCost').textContent.replace(/,/g, ''));

            var netRevenue = newTotalProfit - totalCost;

            // Update the values in the table
            document.getElementById('TotalProfit').textContent = newTotalProfit.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            document.getElementById('TotalNetRevenue').textContent = netRevenue.toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

        function updateNewTotal(input, aircraftType) {
            /*
            Purpose:
            This function calculates the new total profit and net revenue based on the new charge per passenger.

            ARGS:
            parentRow: The parent row of the input element
            chargePerPassenger: The new charge per passenger
            totalCost: The total cost of the flight
            aircraftType: The type of aircraft that the user is changing the input for
            occupiedSeatsEcon: The number of occupied economy seats
            occupiedSeatsExtraComfort: The number of occupied extra comfort seats
            occupiedSeatsFirstClass: The number of occupied first class seats
            */

            // Get the parent row of the input element
            var parentRow = input.closest('tr');

            // create selectors with the aircraft type
            var totalSelector = `#${aircraftType}Total`;
            var econSelector = `#${aircraftType}Econ input`;
            var extraSelector = `#${aircraftType}Extra input`;
            var firstSelector = `#${aircraftType}First input`;
            var chargeSelector = `#${aircraftType}Actual input`;

            // Get the total cost and the occupied seats
            var totalCost = parentRow.querySelector(totalSelector).textContent.replace(/,/g, '');
            var occupiedSeatsEcon = parentRow.querySelector(econSelector).value;
            var occupiedSeatsExtraComfort = parentRow.querySelector(extraSelector).value;
            var occupiedSeatsFirstClass = parentRow.querySelector(firstSelector).value;
            var chargePerPassenger = parseFloat(parentRow.querySelector(chargeSelector).value);

            // Get the extra comfort and first class multipliers
            var extraComfortMult = parseFloat(document.getElementById('extraComfortMult').value);
            var firstClassMult = parseFloat(document.getElementById('firstClassMult').value);

            // Calculate the new total profit
            var econProfit = chargePerPassenger * occupiedSeatsEcon;
            var extraProfit = chargePerPassenger * extraComfortMult * occupiedSeatsExtraComfort;
            var firstProfit = chargePerPassenger * firstClassMult * occupiedSeatsFirstClass;

            var totalProfit = econProfit + extraProfit + firstProfit;

            // Calculate the new net revenue
            var netRevenue = totalProfit - totalCost;

            // Update the values in the table
            var totalProfitSelector = `#${aircraftType}TotalProfit`;
            var netRevenueSelector = `#${aircraftType}Revenue`;

            // Get the cells to update
            var totalProfitCell = parentRow.querySelector(totalProfitSelector);
            var netRevenueCell = parentRow.querySelector(netRevenueSelector);

            //Round to 2 decimal places
            totalProfit = totalProfit.toFixed(2);
            netRevenue = netRevenue.toFixed(2);

            // Update the values in the total table using the old profit and new profit
            var oldTotalProfit = parseFloat(parentRow.querySelector(totalProfitSelector).textContent.replace(/,/g, ''));
            updateTotalValueTable(oldTotalProfit, parseFloat(totalProfit));

            // Format the numbers with commas
            totalProfit = totalProfit.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            netRevenue = netRevenue.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");

            // Update the values in the table
            totalProfitCell.textContent = totalProfit;
            netRevenueCell.textContent = netRevenue;
        }

        function changePrice(input, aircraftType) {
            /*
            Purpose:
            This function is called when the user changes the price of the ticket.

            ARGS:
            input: The input element that the user changed
            aircraftType: The type of aircraft that the user is changing the input for
            */

            // Calculate the new total profit and net revenue
            updateNewTotal(input, aircraftType);
        }

        function updateSeats(input, type) {
            /*
            Purpose:
            This function calculates the percentage of seats filled in the table.

            ARGS:
            input: The input element that the user changed
            type: The type of class that the user is changing the input for
            */

            // Get the parent row of the input element
            var parentRow = input.closest('tr');

            // if type is economy then selector = .economy-row
            if(type == 'econ') {
                var inputSelector = '.economy-row';
                var hiddenSelector = 'TotalSeatsEcon';
                var percentageSelector = 'EconPercentage';
            } 
            else if(type == 'extraComfort') 
            {
                var inputSelector = '.extraComfort-row';
                var hiddenSelector = 'TotalSeatsExtraComfort';
                var percentageSelector = 'ExtraComfortPercentage';

            }
            else if(type == 'firstClass') 
            {
                var inputSelector = '.firstClass-row';
                var hiddenSelector = 'TotalSeatsFirstClass';
                var percentageSelector = 'FirstClassPercentage';   
            }

            // Get all input fields with class 'seats-input' within elements with class 'economy-row'
            var economyInputs = document.querySelectorAll(inputSelector);

            // Initialize variable to store the total occupied seats
            var initialOccupiedSeats = 0;

            // Iterate through each economy input field
            economyInputs.forEach(function(inputField) {
                // Get the value of occupied seats from the input field and parse it as an integer
                var occupiedSeats = parseInt(inputField.value);

                // Add the occupied seats from this input field to the total
                initialOccupiedSeats += occupiedSeats;
            });

            // Calculate the new percentage of seats filled
            var totalSeats = parseInt(document.getElementById(hiddenSelector).value);
            var percentSeats = (initialOccupiedSeats / totalSeats) * 100;

            // Update the value in the table
            document.getElementById(percentageSelector).textContent = percentSeats.toFixed(2) + '%';
        }

        function handleInputChange(input, aircraftType) {
            /*
            Purpose:
            This function is called when the user changes the number of occupied seats in the input field.

            ARGS:
            input: The input element that the user changed
            aircraftType: The type of aircraft that the user is changing the input for
            */

            // Get the parent row of the input element
            var parentRow = input.closest('tr');

            // create selectors with the aircraft type
            var totalSelector = `#${aircraftType}Total`;
            var econSelector = `#${aircraftType}Econ input`;
            var extraSelector = `#${aircraftType}Extra input`;
            var firstSelector = `#${aircraftType}First input`;

            // Get the total cost and the occupied seats
            var totalCost = parentRow.querySelector(totalSelector).textContent.replace(/,/g, '');
            var occupiedSeatsEcon = parentRow.querySelector(econSelector);
            var occupiedSeatsExtraComfort = parentRow.querySelector(extraSelector);
            var occupiedSeatsFirstClass = parentRow.querySelector(firstSelector);
            
            // Get the extra comfort and first class multipliers
            var extraComfortMult = parseFloat(document.getElementById('extraComfortMult').value);
            var firstClassMult = parseFloat(document.getElementById('firstClassMult').value);

            // Calculate the new number of occupied seats
            occupiedSeatsEcon = occupiedSeatsEcon.value;
            occupiedSeatsExtraComfort = extraComfortMult * occupiedSeatsExtraComfort.value;
            occupiedSeatsFirstClass = firstClassMult * occupiedSeatsFirstClass.value;

            // Calculate the new charge per passenger
            var sum = parseFloat(occupiedSeatsEcon) + parseFloat(occupiedSeatsExtraComfort) + parseFloat(occupiedSeatsFirstClass);
            var newValue = parseFloat(totalCost) / sum;
            
            // Round the value to 2 decimal places
            newValue = newValue.toFixed(2);

            // Update the value in the table
            var chargeSelector = `#${aircraftType}Charge`;
            var chargePerPassengerCell = parentRow.querySelector(chargeSelector);
            chargePerPassengerCell.textContent = newValue;

            // Calculate the new total profit and net revenue
            updateNewTotal(input, aircraftType);
        }
    </script>
</body>
</html>

