<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
    <title>FlaskApp</title>
</head>
<body>
    <h1>Prepare the Schedule for the Day!</h1>
    <div class="container">
        <table class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Airbus A321-NEO</th>
                    <th>Airbus 330</th>
                    <th>Boeing 787</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="remainingA321NEO">18</td>
                    <td id="remainingA330">24</td>
                    <td id="remainingB787">2</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>

    <form action="/process_form" method="POST">
        <div class="container">
            <table id="example" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Airport Name</th>
                        <th>ICAO</th>
                        <th>Include?</th>
                        <th>Number of A321-NEO</th>
                        <th>Number of A330</th>
                        <th>Number of B787</th>
                    </tr>
                </thead>
                <tbody>
                    {% for airport, details in airportDict.items() %}
                        <tr>
                            <td>{{ airport }}</td>
                            <td>{{ details['ICAO'] }}</td>
                            <td id="checked">
                                <div class="form-check form-check-lg">
                                    <input class="form-check-input" type="checkbox" name="selectedAirports" value="{{ airport }}">
                                </div>
                            </td>
                            <td>
                                <input type="number" class="form-control form-control-sm" name="numAirplanesA321NEO[{{ airport }}]" min="0" max="5" value="0" style="width: 200px;">
                            </td>
                            <td>
                                <input type="number" class="form-control form-control-sm" name="numAirplanesA330[{{ airport }}]" min="0" max="5" value="0" style="width: 200px;">
                            </td>
                            <td>
                                <input type="number" class="form-control form-control-sm" name="numAirplanesB787[{{ airport }}]" min="0" max="5" value="0" style="width: 200px;">
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-lg-3">
                    <button type="submit" class="btn btn-info btn-lg">Submit</button>
                </div>
            </div>
        </div>
    </form>

    <script>
        document.querySelectorAll('.form-check-input, input[type="number"]').forEach(input => {
            input.addEventListener('change', updateFirstTable);
        });

        function updateFirstTable() {
            var selectedAirports = document.querySelectorAll('input[name="selectedAirports"]:checked');
            var remainingA321NEO = 18; // Initial count of A321-NEO airplanes
            var remainingA330 = 24; // Initial count of A330 airplanes
            var remainingB787 = 2; // Initial count of B787 airplanes

            // Loop through each selected airport and update the remaining airplane count
            selectedAirports.forEach(airport => {
                var numAirplanesA321NEO = parseInt(document.querySelector('input[name="numAirplanesA321NEO[' + airport.value + ']"]').value);
                var numAirplanesA330 = parseInt(document.querySelector('input[name="numAirplanesA330[' + airport.value + ']"]').value);
                var numAirplanesB787 = parseInt(document.querySelector('input[name="numAirplanesB787[' + airport.value + ']"]').value);

                remainingA321NEO -= numAirplanesA321NEO;
                remainingA330 -= numAirplanesA330;
                remainingB787 -= numAirplanesB787;
            });

            // Update the remaining airplane count in the first table
            document.getElementById('remainingA321NEO').textContent = remainingA321NEO;
            document.getElementById('remainingA330').textContent = remainingA330;
            document.getElementById('remainingB787').textContent = remainingB787;
        }

    </script>
</body>
</html>
