<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
    <title>FlaskApp</title>
</head>
<body>
    <h1>Review Your Schedule</h1>
    <br>

    <form action="/" method="POST"></form>
        <div class="container">
            <table id="example" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Airport Name</th>
                        <th>Number of Airplanes A321-NEO</th>
                        <th>Number of Airplanes A330</th>
                        <th>Number of Airplanes B787</th>
                    </tr>
                </thead>
                <tbody>
                    {% for airport, col in planesDf.iterrows() %}
                        <tr>
                            <td>{{ airport }}</td>
                            <td>{{ col['numPlanesA321NEO'] }}</td>
                            <td>{{ col['numPlanesA330'] }}</td>
                            <td>{{ col['numPlanesB787'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <br>

        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-lg-3">
                    <a href="/add_marker/0" class="btn btn-success btn-lg mb-3" role="button">Run Simulation!</a>
                </div>
                <div class="col-lg-3">
                    <a href="/analytics_Factors" class="btn btn-warning btn-lg mb-3" role="button">Skip Simulation.</a>
                </div>
                <div class="col-lg-3">
                    <a href="/" class="btn btn-danger btn-lg" role="button">Back to Home</a>
                </div>
            </div>
        </div>
    </form>

    <script defer src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script defer src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>

    <script defer>
        $(document).ready(function() {
            ('#example').DataTable();
        });
    </script>
</body>
</html>

